.head {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937
}

.awesome {
    background-color: #1f2937;
    color: azure;
    display: flex;
}

.info {
    display: flex;
}

.quote {
    display: flex;
    background-color: #e5e7eb;
}

.call {
    display: flex;
}