body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

.head {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    padding: 10px 30px;
}

.awesome {
    background-color: #1f2937;
    color: azure;
    display: flex;
    padding: 20px 50px 40px 50px;
    padding-bottom: 40px;
}

.info {
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    gap: 10px;
    font-size: 18px;
    margin-left: auto;
}

a {
    color: #f9faf8;
    text-decoration: none;
}
.big {
    font-size: 48px;
    font-weight: bolder;
    margin-top: 40px;
    padding-bottom: 15px;
}

.sub {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 15px;
    
}

.one, .two{
    background-color: #3882f6;
    border-radius: 8px;
    color: white;
    
}
 .one {
    padding: 10px 20px;
 }

.planet {
    width: 45%;
}

.right {
    display: flex;
    margin: auto;
    justify-content: center;
}

.lilplan {
    width: 65%;
}

.images {
    display: flex;
    flex-direction: row;
    padding: 30px 160px 50px 160px;
    gap: 30px;
}

.random {
    font-weight: bolder;
    align-self: center;
    color: #1f2937;
    font-size: 36px;
    padding-top: 30px;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px; 
}
 .text {
    padding-top: 10px;
 }

.thefour {
    max-width: 150px;
    padding-top: 20px;
}

.thought {
    background-color: #e5e7eb;
    padding: 70px 160px;
}

.quote {
    font-style: italic;
}

.quoted {
    font-weight: bolder;
    margin-left: 500px;
}

.callbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: white;
}

.call {
    display: flex;
    background-color: #3882f6;
    height: 80px;
    width: 80%;
    border-radius: 8px;
    margin: 100px 0 100px 0;
    justify-content: space-around;
    align-items: center;
    color: #e5e7eb;
}

.buttman {
    display: flex;
    flex-direction: column;
    
}

.two {
   height: 20px;
   border-color: #f9faf8;
   

}
.buttin {
    padding: 10px 20px;
}


.action {
    font-weight: bolder;
    font-size: 22px;
    
}

.left {
    padding-left: 110px;
}

.copy {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    color: #e5e7eb;
}